# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
ark-save-parser.fork.iml
php.xml
project.xml
modules.xml
vcs.xml

